<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Top Products</title>
</h:head>
<h:body>

<h:form id="form">
    <p:dataGrid var="product" value="#{productsBean.products}" columns="3" layout="grid" paginator="false" id="products">
        <f:facet name="header">
            Top products
        </f:facet>
        <p:panel header="#{product.name}" style="text-align:center">
            <h:panelGrid columns="1" style="width:100%">
                <p:graphicImage value="/image/#{product.code}"/>
                <h:outputText value="#{product.price}$" />
            </h:panelGrid>
        </p:panel>
    </p:dataGrid>
    <p:poll interval="1" listener="#{counterView.increment}" update="form" />
</h:form>
</h:body>
</html>
